.become-sponsor {
  &-section {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.6875rem;
    padding-bottom: 20rem;
  }
  &__description {
    @include app-font(1.25rem, 1.25rem, $blue_color, 200);
    margin-bottom: 3.375rem;
  }
  &__title {
    @include app-font(6rem, 6rem, $blue_color, 200);
    letter-spacing: -0.0828rem;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  &__feedback {
    @include app-font(2rem, 2.25rem, $blue_color, 200);
    text-align: center;
    margin-bottom: 1.5625rem;
  }
  &__btn-round {
    width: 16rem;
    height: 16rem;
    text-transform: uppercase;
    @include app-font(2rem, 2rem, $blue_color, 200);
    border-radius: 50%;
    background: $gray_color;
    margin-bottom: 11.125rem;
    position: relative;
    overflow: hidden;
    transition: background 0.5s ease, color 0.5s ease;

    &::after {
      background-color: $blue_color;
      border-radius: 3rem;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: 0.5s transform ease-out;
      will-change: transform;
      z-index: -1;
    }
    &:hover::after {
      transform: translate(0, 0);
    }

    &:hover {
      color: $white_color;
      transform: after scale(1.05);
      will-change: transform;
    }
  }
  &__btn {
    height: 4rem;
    width: 13.875rem;
    padding: 1.25rem 1.7rem;
    text-transform: uppercase;
    background: $blue_color;
    @include app-font(1.5rem, 1.5rem, $white_color, 200);
    background: linear-gradient(to right, $white_color 50%, $blue_color 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    &:hover {
      background-position: left bottom;
      color: $blue_color;
      border: 0.0625rem solid $blue_color;
    }
  }
}

@media (max-width: $mob) {
  .become-sponsor {
    &-section {
      padding-top: 0.5rem;
      padding-bottom: 11.5rem;
    }

    &__description {
      padding: 0 0.75rem;
      text-align: center;
      text-transform: none;
      width: 18.4375rem;
      letter-spacing: -0.015rem;
      @include app-font(0.75rem, 1rem, $blue_color, 200);
      margin-bottom: 0.5rem;
    }
    &__title {
      @include app-font(2rem, 2rem, $blue_color, 200);
      letter-spacing: 0;
      margin-bottom: 0.25rem;
    }
    &__feedback {
      @include app-font(1rem, 1.25rem, $blue_color, 200);
      margin-bottom: 1.1875rem;
      letter-spacing: -0.02rem;
    }

    &__btn-round {
      width: 8.875rem;
      height: 8.875rem;
      @include app-font(1rem, 1.25rem, $blue_color, 200);
      letter-spacing: -0.02rem;
    }
    &__btn {
      width: 9rem;
      height: 3rem;
      padding: 0.9rem;
      @include app-font(1rem, 1rem, $white_color, 200);
    }
  }
}

