.gallery-section {
  overflow-x: hidden;

  padding-top: 10.5625rem;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .gallery {
      &-block {
        display: flex;
        gap: 1rem;
      }
    }
  }
  .show-all-gallery {
    display: none;
  }
}

.gallery-img-bg {
  width: 28.75rem;
  height: 20rem;
}
.gallery-img-sm {
  width: 13.875rem;
  height: 20rem;
}

@media (max-width: $mob) {
  .gallery-section {
    padding: 0 0.75rem;
    padding-top: 4.75rem;

    &__wrapper {
      max-height: 52rem;
      gap: 0rem;
      overflow: hidden;
    }
    .gallery {
      &-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.75rem;
        &-top {
          margin-bottom: 0.75rem;
        }
      }
    }

    .show-all-gallery {
      display: flex;
    }
  }

  .gallery-img-bg {
    width: 18.5rem;
    height: 13rem;
  }
  .gallery-img-sm {
    width: 8.875rem;
    height: 12rem;
  }

  .show-all-clicked .gallery-section {
    max-height: none;
  }
}
