.pop {
  overflow-x: hidden;
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  height: 4.5rem;
  z-index: 4;
  height: 4.5rem;
  background: $white_color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  &-left {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 1.5rem;
    @include app-font(1.25rem, 1.25rem, $blue_color, 300);
    letter-spacing: -0.025rem;
    &__img {
      width: 3.5rem;
      height: 3.75rem;
    }
    &__separator {
      width: 0.0625rem;
      height: 1.5rem;
      background: $blue_color;
    }
    &__item {
      cursor: pointer;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 1.5rem;
    &__call {
      @include app-font(1.25rem, 1.25rem, $blue_color, 300);
    }
    &__btn {
      height: 3rem;
      padding: 0.5rem 1.9rem;
      text-transform: uppercase;
      @include app-font(1.25rem, 2rem, $white_color, 300);
      background: linear-gradient(to right, $white_color 50%, $blue_color 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease-out;
      &:hover {
        background-position: left bottom;
        color: $blue_color;
        border: 0.0625rem solid $blue_color;
      }
    }
  }
}

@media (max-width: $mob) {
  .pop {
    padding: 0 0.75rem;
    height: 3rem;
    top: -3rem;
    &-left {
      &__img {
        width: 2.25rem;
        height: 2.375rem;
      }
    }
    &-right {
      gap: 0.4375rem;
      flex-direction: row-reverse;
      &__btn {
        padding: 0.5rem 0.4375rem;
        height: 2rem;
        @include app-font(0.75rem, 1rem, $white_color, 300);
      }
    }
    &-call {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      svg {
        width: 2rem;
        height: 2rem;
      }
      &-icon {
        margin-top: 0.1975rem;
        margin-right: 0.1rem;
        svg {
          fill: $white_color;
          width: 1.1875rem;
          height: 1.1875rem;
        }
      }
    }
  }
}
