.schedule {
  display: flex;
  flex-direction: column;
  width: 28.75rem;
  &-section {
    overflow-x: hidden;
    padding-top: 9.6875rem;
    padding-left: 15.6875rem;
    &-title {
      @include app-font(5.8727rem, 5.8727rem, $blue_color, 200);
      letter-spacing: 0.0972rem;
      margin-bottom: 3.125rem;
      &-date {
        letter-spacing: 0.0235rem;
        @include app-font(6.7903rem, 5.8727rem, $blue_color, 200);
      }
    }
  }

  &-list {
    display: flex;
    gap: 1rem;
  }
  &-separator {
    height: 0.0625rem;
    background: $blue_color;
    margin-bottom: 0.625rem;
  }
  &-date {
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    @include app-font(1.5rem, 1.5rem, $blue_color, 300);
    &-cursive {
      font-style: italic;
    }
  }
  &-item {
    &_time {
      @include app-font(1.25rem, 1.75rem, $blue_color, 500);
    }
    &_name {
      @include app-font(1.25rem, 1.75rem, $blue_color, 300);
    }
    &_name-cursive {
      @include app-font(1.25rem, 1.75rem, $blue_color, 300, italic);
    }
  }
}

@media (max-width: $mob) {
  .schedule {
    width: 18.5rem;
    &-section {
      padding: 0 0.75rem;
      padding-top: 4.3125rem;
      &-title {
        letter-spacing: 0;
        @include app-font(2.5rem, 2.5rem, $blue_color, 200);
        margin-bottom: 2.0625rem;
        &-date {
          @include app-font(2.5rem, 2.5rem, $blue_color, 200);
        }
      }
    }

    &-list {
      flex-direction: column;
      gap: 1.9375rem;
    }
    &-separator {
      width: 18.5rem;
      margin-bottom: 0.6875rem;
    }
    &-date {
      margin-bottom: 0.3125rem;
      text-transform: uppercase;
      @include app-font(1rem, 1rem, $blue_color, 300);
      &-cursive {
        font-style: italic;
      }
    }
    &-item {
      &_time {
        @include app-font(0.75rem, 1rem, $blue_color, 500);
      }
      &_name {
        @include app-font(0.75rem, 1rem, $blue_color, 300);
      }
      &_name-cursive {
        @include app-font(0.75rem, 1rem, $blue_color, 300, italic);
      }
    }
  }
}
