.speakers {
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding-top: 8.625rem;
  background: $white_color;
  &__title {
    @include app-font(5.5243rem, 5.5243rem, $blue_color, 200);

    letter-spacing: -0.0828rem;
    margin-left: 15.6875rem;
    &-date {
      text-transform: uppercase;
      @include app-font(6.3874rem, 6.3874rem, $blue_color, 200);
    }
  }
  &__speaker-block {
    display: flex;
    gap: 4.3125rem;
    margin-bottom: 9.625rem;
    margin-left: 15.6875rem;
    .speaker-block {
      &__img {
        width: 25.5rem !important;
        height: 25.5rem !important;
        object-fit: cover;
      }
      &__text {
        width: 51.0625rem;
        .text-light {
          display: inline-block;
          @include app-font(1.25rem, 1.75rem, $blue_color, 300);
        }
        &-presenter {
          margin-bottom: 0.0625rem;
          @include app-font(1.5rem, 1.75rem, $blue_color, 300, italic);
          &-bold {
            font-weight: 500;
          }
        }
      }
    }
  }
  &-marquee {
    display: flex;
  }
  .show-all-speakers {
    display: none;
  }

  #speakersMarquee {
    width: 120rem;
    overflow: hidden;
    .swiper-wrapper {
      display: flex;

      animation: marquee 40s linear infinite; /* Измените продолжительность (30s) по вашему усмотрению */
    }
    .swiper-slide {
      cursor: pointer;
      transition: transform 0.3s ease;
      img {
        width: 13.875rem !important;
        height: 20rem !important;
      }
      &-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 13.875rem !important;
        height: 2.5625rem;
        position: absolute;
        bottom: 0rem;
        @include app-font(1.25rem, 1.25rem, $white_color, 200);
        letter-spacing: -0.025rem;
        z-index: 3;
      }
      &-bg {
        height: 2.5rem;
        width: 13.875rem;
        background: $blue_color;
        position: absolute;
        z-index: 1;
        bottom: 0rem;
      }
      &-linear {
        position: absolute;
        bottom: 2.5rem;
        height: 6rem;
        width: 13.875rem;
        background: linear-gradient(0deg, #013354 0%, rgba(1, 51, 84, 0) 100%);
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: $mob) {
  .speakers {
    gap: 0rem;
    padding-top: 4.5625rem;
    margin-left: 0.75rem;

    &__title {
      @include app-font(2rem, 2rem, $blue_color, 200);
      letter-spacing: -0px;
      margin-bottom: 1.1875rem;
      margin-left: 0rem;
      &-date {
        @include app-font(2rem, 2rem, $blue_color, 200);
      }
    }
    &__speaker-block {
      flex-direction: column;
      gap: 1.1875rem;
      margin-bottom: 4.4375rem;
      margin-left: 0rem;
      .speaker-block {
        &__img {
          width: 18.5rem !important;
          height: 20rem !important;
        }
        &__text {
          .text-light {
            display: inline-block;
            width: 18.5rem;
            @include app-font(0.75rem, 1rem, $blue_color, 300);
          }
          &-presenter {
            @include app-font(1.125rem, 1.75rem, $blue_color, 300, italic);
            font-size: 1.125rem !important;
            line-height: 1.75rem !important;
            &-bold {
              font-weight: 500;
            }
          }
        }
      }
    }
    .show-all-speakers {
      display: flex;
    }

    .show-all-clicked #speakerMarquee {
      max-height: none;
    }

    #speakersMarquee {
      width: 18.5rem;
      margin-bottom: 1.5rem;
      overflow: hidden;
      max-height: 40.5rem;
      transition: max-height 0.5s ease-in-out;
      .swiper-wrapper {
        animation: none;
        flex-direction: column;
        gap: 0.75rem;
        margin-bottom: 1.5rem;
      }
      .swiper-slide {
        display: flex;
        gap: 0.6875rem;
        img {
          width: 9.3547rem !important;
          height: 13.3477rem !important;
        }
        &-text {
          position: relative;
          bottom: 0;
          justify-content: flex-start;
          @include app-font(0.75rem, 1rem, $blue_color, 300);
          display: flex;
          flex-direction: column;
          &-read {
            cursor: pointer;
            width: max-content;
            border-bottom: 0.0625rem solid $blue_color;
            @include app-font(0.75rem, 1rem, $blue_color, 300, italic);
          }
        }
        &-bg {
          display: none;
        }
        &-linear {
          display: none;
        }
        &:hover {
          transform: none;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-165rem);
  }
}
