.modal-golf {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: $white_color;
  overflow-x: hidden;
  &__img {
    width: 60rem;
    object-fit: cover;
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 6.8125rem;
    padding-left: 7.75rem;
    padding-bottom: 4.25rem;
    overflow-y: scroll;
  }

  &__title {
    text-transform: uppercase;
    @include app-font(6.75rem, 6.75rem, $blue_color, 200);
    margin-bottom: 1.625rem;
    letter-spacing: -0.0828rem;
  }
  &__description {
    @include app-font(1.25rem, 1.75rem, $blue_color, 300);
    margin-bottom: 1.8125rem;
    text-transform: none;

    &::-webkit-scrollbar {
      width: 0.9375rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray_color;
      border-radius: 0.625rem;
    }

    &::-webkit-scrollbar-track {
      background-color: white;
    }
  }

  &__btns {
    display: flex;
    gap: 0.9375rem;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    text-transform: uppercase;
    width: 21.5rem;
    height: 4.5rem;
    &-include {
      @include app-font(1.25rem, 1.25rem, $white_color, 200);
      background: linear-gradient(to right, $gray_color 50%, $blue_color 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease-out;
      &:hover {
        background-position: left bottom;
        color: $blue_color;
        border: 0;
      }
    }
    &-without {
      @include app-font(1.25rem, 1.25rem, $blue_color, 200);
      background: linear-gradient(to right, $blue_color 50%, $gray_color 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.5s ease-out;
      &:hover {
        background-position: left bottom;
        color: $white_color;
        border: 0;
      }
    }
  }
  &__close {
    cursor: pointer;
    position: absolute;
    top: 1.8125rem;
    right: 2.3125rem;
    text-transform: uppercase;
    border-bottom: 1px solid $blue_color;
    @include app-font(1.25rem, 1.5rem, $blue_color, 200, italic);
  }
  &.is-hidden {
    display: none;
  }
  &.is-visible {
    display: flex;
  }
}

@media (max-width: $mob) {
  .modal-golf {
    overflow-y: scroll;
    flex-direction: column;
    &__img {
      width: 20rem;
      height: 21rem;
    }
    &__container {
      padding: 0.75rem;
      height: 100%;
      overflow-y: unset;
    }

    &__title {
      @include app-font(2.65rem, 2.75rem, $blue_color, 200);
      margin-bottom: 0.8125rem;
      letter-spacing: -0rem;
    }
    &__description {
      @include app-font(0.75rem, 1rem, $blue_color, 200);
      margin-bottom: 1.25rem;

      &::-webkit-scrollbar {
        width: 0.4rem;
      }
    }

    &__btns {
      flex-direction: column;
      background: $white_color;
      gap: 0.75rem;
    }

    &__btn {
      width: 18.5625rem;
      height: 3rem;
      font-size: 0.75rem;
      line-height: 0.75rem;
    }
    &__close {
      top: 0.875rem;
      right: 0.75rem;
      @include app-font(0.75rem, 0.75rem, $white_color, 200);
      border-bottom: 0.0625rem solid $white_color;
    }
  }
}
