@import "../fonts/RobotoSerif.scss";
@import "./helpers/_mixins";
@import "./helpers/variables";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  letter-spacing: inherit;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font: inherit;
  text-transform: uppercase;
}

input,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

textarea {
  resize: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

html {
  font-size: 0.8333vw;
  -webkit-text-size-adjust: 100%;
}

body {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* для Firefox */
  scrollbar-color: transparent transparent; /* для Firefox */
}

::-webkit-scrollbar {
  width: 0px; /* для Chrome, Safari и Opera */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* для Chrome, Safari и Opera */
}
@media (max-width: $mob) {
  html {
    font-size: 5vw;
  }
}

.show-all {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 18.5rem;
  border-top: 0.0625rem solid $gray_color;
  border-bottom: 0.0625rem solid $gray_color;
  padding: 0.6875rem 0;
  @include app-font(0.75rem, 1rem, $blue_color, 300);
}

.d-display-laptop {
  display: inline-block !important;
}
.d-display-mob {
  display: none !important;
}
@media (max-width: $mob) {
  .d-display-laptop {
    display: none !important;
  }
  .d-display-mob {
    display: inline-block !important;
  }
}

#scrollContainer {
  overflow: hidden;
}

@import "./sections/header";
@import "./sections/start-section";
@import "./sections/speakers-section";
@import "./sections/schedule-section";
@import "./sections/gallery-section";
@import "./sections/form-section";
@import "./sections/book-section";
@import "./sections/sponsors-section";
@import "./sections/become-sponsor-section";
@import "./modals/modal-golf";
@import "./modals/modal-speakers";
@import "./modals/modal-sponsor";
